In [71]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [73]:
Minerals_Database = pd.read_csv('Minerals_Database.csv')

Minerals_Database_filter = Minerals_Database[['Name', 'Magnesium', 'Calcium', 'Iron', 'Molar Mass']]
Minerals_Database_use = Minerals_Database_filter[(Minerals_Database_filter['Magnesium'] > 0) 
                                                | (Minerals_Database_filter['Calcium'] > 0) 
                                                | (Minerals_Database_filter['Iron'] > 0)]
display(Minerals_Database_use)

                 Name  Magnesium  Calcium  Iron   Molar Mass
4          Actinolite        4.0      1.0   4.0   861.185368
7             Adelite        1.0      1.0   0.0   251.283292
8           Admontite        2.0      0.0   0.0   407.639360
9            Aegirine        0.0      0.0   1.0   154.920468
10        Aenigmatite        4.0      1.0   7.0  1110.587536
...               ...        ...      ...   ...          ...
3104  Zinnwaldite-2M1        0.0      0.0   3.0   699.777801
3106      Zirsinalite        0.0      1.0   0.0   269.364636
3107        Zoltaiite        1.0      0.0   2.0   677.090039
3110       Zwieselite        0.0      0.0   2.0   225.663765
3111      h-Magnetite        1.0      0.0   2.0   291.060339

[1814 rows x 5 columns]

In [75]:
Minerals_Database_use['MgO_Percent'] = (Minerals_Database_use['Magnesium']*40 / Minerals_Database_use['Molar Mass']) * 100
Minerals_Database_use['CaO_Percent'] = (Minerals_Database_use['Calcium']*56  / Minerals_Database_use['Molar Mass']) * 100
Minerals_Database_use['FeO_Percent'] = (Minerals_Database_use['Iron']*72 / Minerals_Database_use['Molar Mass']) * 100

top_minerals_percent = Minerals_Database_use[['Name', 'MgO_Percent', 'CaO_Percent', 'FeO_Percent']]
display(top_minerals_percent)

                 Name  MgO_Percent  CaO_Percent  FeO_Percent
4          Actinolite    18.579043     6.502665    33.442277
7             Adelite    15.918289    22.285604     0.000000
8           Admontite    19.625190     0.000000     0.000000
9            Aegirine     0.000000     0.000000    46.475460
10        Aenigmatite    14.406789     5.042376    45.381385
...               ...          ...          ...          ...
3104  Zinnwaldite-2M1     0.000000     0.000000    30.866941
3106      Zirsinalite     0.000000    20.789663     0.000000
3107        Zoltaiite     5.907634     0.000000    21.267482
3110       Zwieselite     0.000000     0.000000    63.811751
3111      h-Magnetite    13.742855     0.000000    49.474278

[1814 rows x 4 columns]

In [77]:
Minerals_Database_use['CO2'] = ( Minerals_Database_use['MgO_Percent'] * 1.092 
                                + Minerals_Database_use['CaO_Percent'] * 0.785 
                                + Minerals_Database_use['FeO_Percent'] * 0.859)

Minerals_Database_use2 = Minerals_Database_use[['Name','MgO_Percent','CaO_Percent','FeO_Percent', 'CO2']]
display(Minerals_Database_use2)

                 Name  MgO_Percent  CaO_Percent  FeO_Percent        CO2
4          Actinolite    18.579043     6.502665    33.442277  54.119823
7             Adelite    15.918289    22.285604     0.000000  34.876971
8           Admontite    19.625190     0.000000     0.000000  21.430708
9            Aegirine     0.000000     0.000000    46.475460  39.922420
10        Aenigmatite    14.406789     5.042376    45.381385  58.673088
...               ...          ...          ...          ...        ...
3104  Zinnwaldite-2M1     0.000000     0.000000    30.866941  26.514702
3106      Zirsinalite     0.000000    20.789663     0.000000  16.319885
3107        Zoltaiite     5.907634     0.000000    21.267482  24.719903
3110       Zwieselite     0.000000     0.000000    63.811751  54.814294
3111      h-Magnetite    13.742855     0.000000    49.474278  57.505602

[1814 rows x 5 columns]

In [79]:
Name = ['Antigorite-T', 'Antigorite', 'Antigorite-M', 'Arrojadite-(KNa)', 'Khmaralite']

Minerals_Database_sort = Minerals_Database_use2[Minerals_Database_use['Name'].isin(minerals_to_filter)]

display(Minerals_Database_sort)

                  Name  MgO_Percent  CaO_Percent  FeO_Percent        CO2
66          Antigorite    44.590620     0.000000     0.000000  48.692957
872       Antigorite-M    45.117760     0.000000     0.000000  49.268593
873       Antigorite-T    42.919810     0.000000     0.000000  46.868432
902   Arrojadite-(KNa)    18.877308     2.032941    36.592935  53.643209
1867        Khmaralite    12.554887     0.000000    47.708572  54.691600